<header class="main-header">    
    <nav class="main-header_nav dark">
        <ul class="main-header_list nav-icon-list">
            <li><a href="/beemazon/shop"><img class="nav-icon" id="beemazon" src="/images/Beemazon/smalllogo.png" alt="Beemazon"></a></li>                                            
            <li><a href="/beemazon/shop/cart"><img class="nav-icon" id="cart" src="/images/Beemazon/yellowcart.png" alt="Cart"></a></li>
        </ul>        
    </nav>
    <nav class="main-header_nav lighter">
        <ul class="main-header_list">            
            <li class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/beemazon/shop">Shop</a>
            </li>       
            <li class="main-header__item">
                <a class="<%= path === '/products' ? 'active' : '' %>" href="/beemazon/shop">Products</a>
            </li>       
            <li class="main-header__item">
                <a class="<%= path === '/orders' ? 'active' : '' %>" href="/beemazon/shop/orders">Orders</a>
            </li>                                 
            <li class="dropdown">
                <a href="#" class="dropdown-toggle <%= path.includes('admin/') ? 'active' : '' %>" data-toggle="dropdown" role="button" aria-expanded="false"> Seller <span class="triangle"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a class="<%= path === '/admin/products' ? 'active' : ''%>" href="/beemazon/admin/products">Product List</a></li>
                    <li><a class="<%= path === '/admin/add-product' ? 'active' : ''%>" href="/beemazon/admin/add-product">Add Product</a></li>                                        
                </ul>
            </li>                               
        </ul>
    </nav>
</header>

